html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica,
    helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #fff;
}

a {
  color: blue;
}
